.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 10px hsl(0, 0%, 80%);
    text-align: center;
    max-width: 250px;
    display: inline-block
}

.card-img {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card .card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card .card-text {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 30%);
}
