ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    text-decoration: none;
    a {
        text-decoration: none;
        border: 1px solid black;
        padding: 1rem;
        border-radius: 5px;
        
    }
}
nav {
    margin-bottom: 1rem;
}
hr {
    margin: 1rem;
    padding-top: 1rem;
}

