ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    text-decoration: none;
    a {
        text-decoration: none;
        padding: 1rem;
        border-radius: 5px;
    }
}
nav {
    margin-bottom: 1rem;
    box-shadow: 0 0 10px hsl(0, 0%, 80%);
    width: 100%;
    height: 10vh;
}

hr {
    margin: 1rem;
    padding-top: 1rem;
}

.student {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
}

.student p {
    margin: 0;
}


.welcome-message {
    font-size: 2.5em;
    background-color: hsl(120, 100%, 20%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.login-prompt {
    font-size: 2.5em;
    background-color: hsl(325, 90%, 49%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}




