ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    text-decoration: none;
    a {
        text-decoration: none;
        padding: 1rem;
        border-radius: 5px;
    }
}
nav {
    margin-bottom: 1rem;
    box-shadow: 0 0 10px hsl(0, 0%, 80%);
    width: 100%;
    height: 10vh;
}

hr {
    margin: 1rem;
    padding-top: 1rem;
}


